@font-face {
    font-family: 'Windows 95';
    src: url('fonts/w-95-sans-serif.woff2') format('woff2'),
        url('fonts/w-95-sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 html {
     scroll-behavior: smooth;
 }

 body {
    background-color: #008081;
 }

.icon-list {
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-top: -3rem;
    align-items: flex-start;
    max-width: 3rem;
    list-style-type: none;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.icon-font {
    color: white;
    padding-bottom: 0rem;
}

.bg-primary {
    background-color: #c0c0c0 !important;
}

.bg-secondary {
    background-color: #008081 !important;
}

.bg-tertiary {
    background-color: #000181 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-gray {
    background-color: #869ab8 !important;
}

a.bg-gray:hover,
a.bg-gray:focus,
button.bg-gray:hover,
button.bg-gray:focus {
    background-color: #667fa5 !important;
}

.bg-gray-dark {
    background-color: #4f606d !important;
}

a.bg-gray-dark:hover,
a.bg-gray-dark:focus,
button.bg-gray-dark:hover,
button.bg-gray-dark:focus {
    background-color: #3a464f !important;
}

.section-primary {
    background-color: #c0c0c0 !important;
}

.section-secondary {
    background-color: #008081 !important;
}

.bg-img-holder {
    position: absolute;
    height: 100%;
    min-height: 20rem;
    background-repeat: no-repeat;
    z-index: -1;
}

.z-0 {
    position: relative;
    z-index: 0 !important;
}

.z-1 {
    position: relative;
    z-index: 1 !important;
}

.z-2 {
    position: relative;
    z-index: 2 !important;
}

.z-3 {
    position: relative;
    z-index: 3 !important;
}

.z-4 {
    position: relative;
    z-index: 4 !important;
}

.bw-md {
    border-width: 0.125rem !important;
}

.bw-lg {
    border-width: 0.25rem !important;
}

.bw-xl {
    border-width: 0.375rem !important;
}

.top-sm {
    top: 1rem;
}

.right-sm {
    right: 1rem;
}

.bottom-sm {
    bottom: 1rem;
}

.left-sm {
    left: 1rem;
}

.top-md {
    top: 2rem;
}

.right-md {
    right: 2rem;
}

.bottom-md {
    bottom: 2rem;
}

.left-md {
    left: 2rem;
}

.top-lg {
    top: 4rem;
}

.right-lg {
    right: 4rem;
}

.bottom-lg {
    bottom: 4rem;
}

.left-lg {
    left: 4rem;
}

.h-100vh {
    height: 100vh !important;
}

.shadow-pixel {
    box-shadow: 0.2rem 0.2rem 0 rgba(233, 236, 239, 0.5) !important;
}

.shadow-soft {
    box-shadow: 0 0.25rem 1.875rem rgba(42, 53, 79, 0.05) !important;
}

.shadow-hover:hover {
    box-shadow: 0 0.5rem 1rem rgba(42, 53, 79, 0.12) !important;
}

.shadow-sm-hover:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(42, 53, 79, 0.07) !important;
}

.shadow-lg-hover:hover {
    box-shadow: 0 1rem 3rem rgba(42, 53, 79, 0.175) !important;
}

.shadow-none-hover:hover {
    box-shadow: none !important;
}

.text-center {
    text-align: center !important;
}

.text-body {
    color: #697992 !important;
}

.text-black-50 {
    color: rgba(17, 17, 17, 0.5) !important;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.list-style-none {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.navbar-main {
    position: absolute;
    top: 0;
    padding: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    height: 38px;
    background: #C0C0C0;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 2px solid #FCFCFC;
}

.navbar-secondary {
    background: #008081;
}

.navbar-tertiary {
    background: #000181;
}

.navbar-footer {
    position: relative;
}

.navbar .navbar-nav .nav-link {
    position: relative;
    font-size: .65rem;
    color: black;
    text-transform: normal;
    background: #C0C0C0;
    letter-spacing: 0;
    font-weight: 400;
    padding: 4px 10px;
}

.navbar .navbar-nav .nav-link .icon {
    position: absolute;
    left: 0;
    top: -2px;
}

.navbar .navbar-nav .nav-item {
    margin-right: 5px;
}

.navbar .navbar-nav .nav-link:hover {
    color: black;
}

.navbar .navbar-nav .nav-link:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid #FCFCFC;
    border-left: 2px solid #FCFCFC;
    border-bottom: 2px solid #08080E;
    border-right: 2px solid #08080E;
}

.navbar .navbar-nav .nav-link .nav-link-inner-text {
    margin-left: .25rem;
}

.navbar .navbar-nav .nav-item .media:not(:last-child) {
    margin-bottom: 1.5rem;
}

.navbar-dark .navbar-brand-light {
    display: none;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}

.navbar-light .navbar-brand-dark {
    display: none;
}

.navbar-light .navbar-brand {
    color: #4f606d;
}

@media (min-width: 992px) {
    .navbar-nav .nav-item {
        margin-right: .5rem;
    }

    .navbar-nav .nav-item [data-toggle="dropdown"]::after {
        transition: all 0.2s ease;
    }

    .navbar-nav .nav-item.show [data-toggle="dropdown"]::after {
        transform: rotate(180deg);
    }

    .navbar-nav .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 0.125rem;
    }

    .navbar-nav .nav-link i {
        margin-right: .3rem;
        font-size: 0.75rem;
    }

    .navbar-nav .nav-link-icon {
        padding-left: .5rem;
        padding-right: .5rem;
        font-size: 1rem;
        border-radius: 0.125rem;
    }

    .navbar-nav .nav-link-icon i {
        margin-right: 0;
    }

    .navbar-nav .dropdown-menu {
        opacity: 0;
        pointer-events: none;
        margin: 0;
        border-radius: 0.2rem;
    }

    .navbar-nav .dropdown-menu-right:before {
        right: 20px;
        left: auto;
    }

    .navbar-nav .dropdown-menu.show {
        opacity: 1;
        pointer-events: auto;
        animation: show-navbar-dropdown .25s ease forwards;
    }

    .navbar-nav .dropdown-menu.close {
        display: block;
        animation: hide-navbar-dropdown .15s ease backwards;
    }

    .navbar-nav .dropdown-menu {
        display: block;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s ease;
    }

    .navbar-nav .dropdown:hover>.dropdown-menu,
    .navbar-nav .dropdown-submenu:hover>.dropdown-menu {
        display: block;
        opacity: 1;
        pointer-events: auto;
        transform: translate(0, -7px);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .navbar-nav .dropdown:hover .nav-link>.nav-link-arrow {
        transform: rotate(180deg);
    }

    .navbar-nav .dropdown-submenu:hover .dropdown-item>.nav-link-arrow {
        transform: rotate(90deg);
    }

    .navbar-nav .dropdown-menu-inner {
        position: relative;
        padding: 1rem;
    }

    .navbar-transparent .navbar-nav .nav-link.disabled {
        color: rgba(255, 255, 255, 0.25);
    }

    .navbar-transparent .navbar-brand {
        color: rgba(255, 255, 255, 0.9);
    }

    .navbar-transparent .navbar-brand:hover,
    .navbar-transparent .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.9);
    }
}

.navbar-collapse-header {
    display: none;
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        padding: .625rem 0;
    }

    .navbar-nav .dropdown-menu {
        box-shadow: none;
        min-width: auto;
    }

    .navbar-nav .dropdown-menu .media svg {
        width: 30px;
    }

    .navbar-collapse {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1050;
        overflow-y: auto;
        height: calc(100vh - 30px) !important;
        opacity: 0;
    }

    .navbar-collapse .navbar-toggler {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 0;
    }

    .navbar-collapse .navbar-toggler span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        opacity: 1;
        background: #283448;
    }

    .navbar-collapse .navbar-collapse-header {
        display: block;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .navbar-collapse .collapse-brand img {
        height: 36px;
    }

    .navbar-collapse .collapse-close {
        text-align: right;
    }

    .dropdown.show .nav-link>.nav-link-arrow {
        transform: rotate(180deg);
    }

    .dropdown-submenu.show .dropdown-item>.nav-link-arrow {
        transform: rotate(90deg);
    }

    .navbar-collapse.collapsing,
    .navbar-collapse.show {
        padding: 1.5rem;
        border-radius: 0.2rem;
        background: #ffffff;
        animation: show-navbar-collapse .2s ease forwards;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .navbar-collapse.collapsing-out {
        animation: hide-navbar-collapse .2s ease forwards;
    }
}

.section {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

@media (min-width: 576px) {
    .section {
        position: relative;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .section-xl {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .section-lg {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .section-sm {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.footer {
    display: flex;
    position: relative;
}

.btn {
    position: relative;
    transition: all 0.2s ease;
    letter-spacing: 0.025em;
    font-size: .6rem;
    border-radius: 0.125rem;
    padding: .6rem 2rem;
    max-height: 37px;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    background: transparent;
    z-index: 9;
    top: 0;
    left: 0;
}

.btn:before {
    width: 100%;
    height: 100%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
}

.btn:not(:disabled):not(.disabled):active:before,
.btn:not(:disabled):not(.disabled):active:focus:before {
    border-color: transparent;
    color: #000;
}

.btn .btn-text {
    border: 1px solid transparent;
}

.btn:not(:disabled):not(.disabled):active .btn-text,
.btn:not(:disabled):not(.disabled):active:focus .btn-text {
    border: 1px dotted #000;
}

.border-dark {
    border: 2px solid #0A0A0A !important;
}

.border-dark-lg {
    border: 3px solid #0A0A0A !important;
}

.btn[aria-expanded="true"] .toggle-arrow {
    transform: rotate(180deg);
}

.btn-xs,
.btn-xs i {
    font-size: 0.75rem;
}

.btn-sm,
.btn-group-sm>.btn,
.btn-sm i,
.btn-group-sm>.btn i {
    font-size: 0.53rem;
    padding: .4rem 1.6rem;
    max-height: 29px;
}

.btn-md,
.btn-md i {
    font-size: 0.1rem;
    padding: .6rem 1.5rem;
}

.btn-lg,
.btn-group-lg>.btn,
.btn-lg i,
.btn-group-lg>.btn i {
    font-size: 1rem;
    padding: .6rem 2rem;
    max-height: 46px;
}

[class*="btn-outline-"] {
    border-width: 2px;
}

.btn-outline-secondary {
    color: #008081;
}

.btn-primary {
    color: #000;
    background-color: #c0c0c0;
    border-color: #a0a0a0;
}

.btn-primary:hover {
    color: #000;
    background-color: #c0c0c0;
    border-color: #a0a0a0;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: none
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #000;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-secondary {
    color: #ffffff;
    background-color: #008081;
    border-color: #008081;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #008081;
    border-color: #008081;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: none;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #ffffff;
    background-color: #008081;
    border-color: #008081;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #ffffff;
    background-color: #008081;
    border-color: #008081;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-success {
    color: #ffffff;
    background-color: #00bf9a;
    border-color: #00bf9a;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #00bf9a;
    border-color: #00bf9a;
}

.btn-success:focus,
.btn-success.focus {
    box-shadow: none;
}

.btn-success.disabled,
.btn-success:disabled {
    color: #ffffff;
    background-color: #00bf9a;
    border-color: #00bf9a;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
    color: #ffffff;
    background-color: #00bf9a;
    border-color: #00bf9a;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-info {
    color: #ffffff;
    background-color: #1E90FF;
    border-color: #1E90FF;
}

.btn-info:hover {
    color: #ffffff;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.btn-info:focus,
.btn-info.focus {
    box-shadow: none;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #ffffff;
    background-color: #1E90FF;
    border-color: #1E90FF;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
    color: #ffffff;
    background-color: #1E90FF;
    border-color: dodgerblue;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-danger {
    color: #ffffff;
    background-color: #FA5252;
    border-color: #FA5252;
}

.btn-danger:hover {
    color: #ffffff;
    background-color: #fa5252;
    border-color: #fa5252;
}

.btn-danger:focus,
.btn-danger.focus {
    box-shadow: none;
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #ffffff;
    background-color: #FA5252;
    border-color: #FA5252;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
    color: #ffffff;
    background-color: #FA5252;
    border-color: #fa5252;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-light {
    color: #4f606d;
    background-color: #dde1ed;
    border-color: #dde1ed;
}

.btn-light:hover {
    color: #4f606d;
    background-color: #dde1ed;
    border-color: #dde1ed;
}

.btn-light:focus,
.btn-light.focus {
    box-shadow: none;
}

.btn-light.disabled,
.btn-light:disabled {
    color: #4f606d;
    background-color: #dde1ed;
    border-color: #dde1ed;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
    color: #4f606d;
    background-color: #dde1ed;
    border-color: #dde1ed;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-dark {
    color: #ffffff;
    background-color: #2A354F;
    border-color: #2A354F;
}

.btn-dark:hover {
    color: #ffffff;
    background-color: #2a354f;
    border-color: #2a354f;
}

.btn-dark:focus,
.btn-dark.focus {
    box-shadow: none;
}

.btn-dark.disabled,
.btn-dark:disabled {
    color: #ffffff;
    background-color: #2A354F;
    border-color: #2A354F;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show>.btn-dark.dropdown-toggle {
    color: #ffffff;
    background-color: #2A354F;
    border-color: #2a354f;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-dark.dropdown-toggle:focus {
    box-shadow: none;
    outline: 0;
}

.btn-default {
    color: #ffffff;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}


.btn-default.disabled,
.btn-default:disabled {
    color: #ffffff;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}

.btn-default:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled).active,
.show>.btn-default.dropdown-toggle {
    color: #ffffff;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}

.btn-default:not(:disabled):not(.disabled):active:focus,
.btn-default:not(:disabled):not(.disabled).active:focus,
.show>.btn-default.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-tertiary {
    color: #ffffff;
    background-color: #000181;
    border-color: #000181;
}

.btn-tertiary:hover {
    color: #ffffff;
    background-color: #000181;
    border-color: #000181;
}

.btn-tertiary:focus,
.btn-tertiary.focus {
    box-shadow: none;
}

.btn-tertiary.disabled,
.btn-tertiary:disabled {
    color: #ffffff;
    background-color: #000181;
    border-color: #000181;
}

.btn-tertiary:not(:disabled):not(.disabled):active,
.btn-tertiary:not(:disabled):not(.disabled).active,
.show>.btn-tertiary.dropdown-toggle {
    color: #ffffff;
    background-color: #000181;
    border-color: #000181;
}

.btn-tertiary:not(:disabled):not(.disabled):active:focus,
.btn-tertiary:not(:disabled):not(.disabled).active:focus,
.show>.btn-tertiary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-white {
    color: #4f606d;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-white:hover {
    color: #4f606d;
    background-color: white;
    border-color: white;
}

.btn-white:focus,
.btn-white.focus {
    box-shadow: none;
}

.btn-white.disabled,
.btn-white:disabled {
    color: #4f606d;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active,
.show>.btn-white.dropdown-toggle {
    color: #4f606d;
    background-color: #ffffff;
    border-color: white;
}

.btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white:not(:disabled):not(.disabled).active:focus,
.show>.btn-white.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-gray {
    color: #ffffff;
    background-color: #869ab8;
    border-color: #869ab8;
}

.btn-gray:hover {
    color: #ffffff;
    background-color: #869ab8;
    border-color: #869ab8;
}

.btn-gray:focus,
.btn-gray.focus {
    box-shadow: none;
}

.btn-gray.disabled,
.btn-gray:disabled {
    color: #ffffff;
    background-color: #869ab8;
    border-color: #869ab8;
}

.btn-gray:not(:disabled):not(.disabled):active,
.btn-gray:not(:disabled):not(.disabled).active,
.show>.btn-gray.dropdown-toggle {
    color: #ffffff;
    background-color: #869ab8;
    border-color: #869ab8;
}

.btn-gray:not(:disabled):not(.disabled):active:focus,
.btn-gray:not(:disabled):not(.disabled).active:focus,
.show>.btn-gray.dropdown-toggle:focus {
    box-shadow: none;
}

.card {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #393939;
    border-bottom: 2px solid #393939;
    border-radius: 0;
    background: #C0C0C0;
}

.card-primary .card-header {
    background: #C0C0C0;
}

.card-secondary .card-header {
    background: #008081;
    color: white;
}

.card-tertiary .card-header {
    background: #000181;
    color: white;
}

.card-header {
    position: relative;
    background: #808080;
    font-size: .65rem;
    padding: 4px;
    color: #C9C9C9;
    border-radius: 0;
    border: 2px solid #BDBDBD;
}

.card-header .icon {
    position: absolute;
    top: -5px;
    left: -3px;
}

.card-body {
    padding: 10px 7px;
    border-top: 2px solid #BDBDBD;
    border-left: 3px solid #BDBDBD;
    border-right: 3px solid #BDBDBD;
    border-bottom: 2px solid #bdbdbd;
}

.card-footer {
    padding: 10px 7px;
}

.close {
    transition: all 0.2s ease;
}

.close>span:not(.sr-only) {
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.6);
    line-height: 17px;
    border-radius: 50%;
    font-size: 1.25rem;
    transition: all 0.2s ease;
}

.close:hover,
.close:focus {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.9);
    outline: none;
}

.close:hover span:not(.sr-only),
.close:focus span:not(.sr-only) {
    background-color: transparent;
}

.custom-toggle {
    position: relative;
    display: inline-block;
    margin: 0;
}

.icon {
    text-align: center;
    display: inline-flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.icon-xs {
    transform: scale(.5);
}

.icon-sm {
    transform: scale(.7);
}

.icon i,
.icon svg {
    font-size: 2rem;
}

.icon.icon-sm i,
.icon.icon-sm svg {
    font-size: 1.5rem;
}

.icon.icon-lg i,
.icon.icon-lg svg {
    font-size: 3rem;
}

.nav-link {
    color: #869ab8;
}

.nav-link:hover,
.nav-link.active {
    color: #c0c0c0;
}

.nav-link:hover img,
.nav-link.active img {
    opacity: inherit;
    transition: all 0.2s ease;
}

.nav-link i {
    position: relative;
    margin-right: .5rem;
}

.nav-link img {
    opacity: .5;
}

.tab-content {
    background: #c0c0c0;
    padding: 1rem 1.4rem;
}

.nav-tabs {
    border-bottom: 2px solid #DEDEDF;
}

.nav-tabs .nav-item {
    position: relative;
    margin-bottom: 0;
    background: #c0c0c0;
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 1px solid #5A5A5A;
    box-sizing: border-box;
}

.nav-tabs .nav-item .nav-link {
    font-size: .5rem;
    color: black;
    padding: .2rem 1.8rem;
    font-style: italic;
    box-sizing: border-box;
    transform: none;
}

.nav-tabs .nav-item .nav-link.active {
    position: relative;
    background: #c0c0c0;
    border-right: 1px solid #5A5A5A;
}

.nav-tabs .nav-item:not(:first-child) .nav-link.active {
    border-left: 1px solid #5A5A5A;
}

.nav-tabs .nav-item .nav-link.active:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: #c0c0c0;
}

.nav-tabs .nav-link {
    border: 0;
    padding: 1rem 1rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Windows 95", sans-serif;
    font-weight: 400;
}

p,
ol li,
ul li {
    font-family: "Windows 95", sans-serif;
    font-size: .6rem;
    font-weight: 300;
    line-height: 2;
}

a,
.text-action {
    color: #000181;
    font-weight: 400;
}

a:hover,
.text-action:hover {
    color: #000181;
    cursor: pointer;
}